In [141]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as  sm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression as LS
from sklearn.metrics import mean_squared_error as mse
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeRegressor

In [142]:
data_train=pd.read_csv("C:/Users/admin/Downloads/train_NIR5Yl1.csv",na_values=None,)

In [143]:
data_test=pd.read_csv("C:/Users/admin/Downloads/test_8i3B3FC.csv",na_values=None)

In [144]:
final=pd.read_csv("C:/Users/admin/Downloads/sample_submission_OR5kZa5.csv")

In [145]:
data_train.shape

(330045, 7)

In [146]:
data_test.shape

(141448, 6)

In [147]:
data_train.columns

Index(['ID', 'Tag', 'Reputation', 'Answers', 'Username', 'Views', 'Upvotes'], dtype='object')

In [148]:
data_train.describe()

,ID,Reputation,Answers,Username,Views,Upvotes
count,330045.000000,3.300450e+05,330045.000000,330045.000000,3.300450e+05,330045.000000
mean,235748.682789,7.773147e+03,3.917672,81442.888803,2.964507e+04,337.505358
std,136039.418471,2.706141e+04,3.579515,49215.100730,8.095646e+04,3592.441135
min,1.000000,0.000000e+00,0.000000,0.000000,9.000000e+00,0.000000
25%,117909.000000,2.820000e+02,2.000000,39808.000000,2.594000e+03,8.000000
50%,235699.000000,1.236000e+03,3.000000,79010.000000,8.954000e+03,28.000000
75%,353620.000000,5.118000e+03,5.000000,122559.000000,2.687000e+04,107.000000
max,471493.000000,1.042428e+06,76.000000,175738.000000,5.231058e+06,615278.000000

In [149]:
data_test.describe()

                  ID    Reputation        Answers       Username         Views
count  141448.000000  1.414480e+05  141448.000000  141448.000000  1.414480e+05
mean   235743.073497  7.920927e+03       3.914873   81348.231117  2.984633e+04
std    136269.867118  2.791072e+04       3.577460   49046.098215  8.034374e+04
min         7.000000  0.000000e+00       0.000000       4.000000  9.000000e+00
25%    117797.000000  2.860000e+02       2.000000   40222.750000  2.608000e+03
50%    235830.000000  1.245000e+03       3.000000   78795.500000  8.977000e+03
75%    353616.000000  5.123000e+03       5.000000  122149.000000  2.698925e+04
max    471488.000000  1.042428e+06      73.000000  175737.000000  5.004669e+06

In [150]:
data=data_train.append(data_test,ignore_index=True)

In [151]:
Y=data_train.Upvotes

In [152]:
data.drop('Upvotes',axis=1,inplace=True)

In [153]:
data.shape

(471493, 6)

In [154]:
data.isnull().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
dtype: int64

In [155]:
data.head(30)

        ID Tag  Reputation  Answers  Username     Views
0    52664   a      3942.0      2.0    155623    7855.0
1   327662   a     26046.0     12.0     21781   55801.0
2   468453   c      1358.0      4.0     56177    8067.0
3    96996   a       264.0      3.0    168793   27064.0
4   131465   c      4271.0      4.0    112223   13986.0
5   345568   r       440.0      1.0     23866    5577.0
6   376865   c       147.0      1.0     10759   17184.0
7   467378   j      2269.0      2.0     54623     312.0
8   393640   j       111.0      2.0    172926   53738.0
9   130054   c      2749.0      1.0     10189     227.0
10  218471   c      1142.0      7.0     71822  141836.0
11  144119   p      2554.0      1.0    137817    8086.0
12  155955   s       591.0      4.0     36550   16102.0
13  442549   h       394.0      1.0     83356     266.0
14  243606   o      2989.0      2.0     13728    5579.0
15  375736   c      7952.0      2.0     62155   29191.0
16  280957   i       731.0      4.0     43559    5622.0
17   92433   j      1655.0      3.0    101561    3949.0
18   46038   c       922.0      2.0    132697    1133.0
19  249294   j     13443.0      4.0     36775   13096.0
20  196152   j      7608.0      3.0    170045   20035.0
21  167622   j       166.0      1.0     37105    1881.0
22  347488   j       774.0      3.0    108729    7169.0
23  364634   j       101.0      8.0     76000   55594.0
24  424730   h      2698.0      3.0    103006   16634.0
25  412681   o       366.0      1.0     94185    6152.0
26  223188   c       569.0     12.0    116775   38443.0
27   12366   i       137.0      0.0     40829    2052.0
28    8721   i      3376.0      5.0    137432   11389.0
29  131779   s       380.0      3.0     15975    1323.0

In [156]:
(data.isnull().mean())*100

ID            0.0
Tag           0.0
Reputation    0.0
Answers       0.0
Username      0.0
Views         0.0
dtype: float64

<h6>
Dummies
<h6>

In [157]:
data_dummy=pd.get_dummies(data)

In [158]:
data_dummy.shape

(471493, 15)

In [159]:
data_dummy.columns

Index(['ID', 'Reputation', 'Answers', 'Username', 'Views', 'Tag_a', 'Tag_c',
       'Tag_h', 'Tag_i', 'Tag_j', 'Tag_o', 'Tag_p', 'Tag_r', 'Tag_s', 'Tag_x'],
      dtype='object')

In [160]:
scalar=StandardScaler()

In [161]:
scaled_data=scalar.fit_transform(data_dummy)

In [162]:
scaled_data=pd.DataFrame(scaled_data)

In [163]:
scaled_data.columns=data_dummy.columns

In [164]:
datatrain=scaled_data[:330045]

In [165]:
datatest=scaled_data[330045:]

In [166]:
train_x,test_x,train_y,test_y=train_test_split(datatrain,Y,test_size=0.2,random_state=100)

In [167]:
model_train=LS().fit(train_x,train_y)

In [168]:
model_train.score(train_x,train_y)

0.24633409432124564

In [169]:
predicted_y=model_train.predict(test_x)

In [170]:
predicted_y=pd.DataFrame(predicted_y)

In [171]:
model_train.score(test_x,predicted_y)

1.0

In [172]:
mse(test_y,predicted_y,squared=False)

2345.7740224033146

In [173]:
data_y=pd.concat([train_y,predicted_y],ignore_index=True)

In [174]:
data_x=pd.concat([train_x,test_x],ignore_index=True)

In [175]:
data_x.shape

(330045, 15)

In [176]:
data_y.shape

(330045, 1)

In [177]:
model=LS().fit(data_x,data_y)

In [178]:
predicted_yt=model.predict(datatest)

In [179]:
model.score(datatest,predicted_yt)

1.0

<h6>
Desition tree
<h6>

In [180]:
model1=DecisionTreeRegressor()
model=model1.fit(train_x,train_y)

In [181]:
model.score(train_x,train_y)

1.0

In [182]:
data_x1=pd.concat([train_x,test_x],ignore_index=True)

In [183]:
predicted_y1=model.predict(test_x)

In [184]:
predicted_y1=pd.DataFrame(predicted_y1)

In [185]:
model.score(test_x,predicted_y)

-0.4355949836209796

In [186]:
data_y1=pd.concat([train_y,predicted_y1],ignore_index=True)

In [187]:
MODEL=DecisionTreeRegressor().fit(data_x1,data_y1)

In [188]:
predicted_yf=MODEL.predict(datatest)

In [189]:
predicted_yf=pd.DataFrame(predicted_yf)

In [190]:
mse(test_y,predicted_y1,squared=False)

1225.8335153393807

In [191]:
IDcol=final.ID

In [192]:
IDcol

0              7
1              9
2             12
3             13
4             16
           ...
141443    471473
141444    471481
141445    471486
141446    471487
141447    471488
Name: ID, Length: 141448, dtype: int64

In [193]:
DataDT=pd.concat([IDcol,predicted_yf],axis=1)

In [194]:
DataDT.rename(columns = {'id':'ID',0:'Upvotes'}, inplace = True)

In [195]:
DataDT.to_csv("D:\hackdestree.csv",index=False)

In [196]:
DataDT.isnull().sum()

ID         0
Upvotes    0
dtype: int64

In [197]:
from sklearn.ensemble import GradientBoostingRegressor
model3=GradientBoostingRegressor(n_estimators = 100, random_state = 0)
model3.fit(train_x, train_y)

GradientBoostingRegressor(random_state=0)

In [198]:
model3.score(train_x,train_y)

0.9625414595813179

In [199]:
predgb=model3.predict(test_x)

In [200]:
model3.score(test_x,predgb)

1.0

In [201]:
predictedgb=pd.DataFrame(predgb)
model.score(test_x,predictedgb)
data_ygb=pd.concat([train_y,predictedgb],ignore_index=True)
data_xgb=pd.concat([train_x,test_x],ignore_index=True)

In [206]:
modelf=GradientBoostingRegressor(n_estimators = 100, random_state = 0)
modelf.fit(data_xgb,data_ygb)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GradientBoostingRegressor(random_state=0)

In [207]:
modelf.score(data_xgb,data_ygb)

0.9645091414284579

In [210]:
finalgb=modelf.predict(datatest)

In [212]:
finalgb=pd.DataFrame(finalgb)

In [251]:
COL1=data_test.ID

In [252]:
CO1=pd.DataFrame(COL1)

In [253]:
COL1.index = np.arange(0, len(COL1) )

In [254]:
DataDTgb=pd.concat([COL1,finalgb],axis=1)

In [255]:
DataDTgb.rename(columns = {'id':'ID',0:'Upvotes'}, inplace = True)

In [256]:
DataDTgb.to_csv("D:\hackdestreegb.csv",index=False)

In [257]:
DataDTgb.isnull().sum()

ID         0
Upvotes    0
dtype: int64

In [258]:
COL1

0         366953
1          71864
2         141692
3         316833
4         440445
           ...
141443     47187
141444    329126
141445    282334
141446    386629
141447    107271
Name: ID, Length: 141448, dtype: int64