In [31]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor

In [32]:
list=["Country","Year","Status","Adult_Mortality","infant_deaths","Alcohol","percentage_expenditure","HepatitisB","Measles","BMI","under_five_deaths","Polio","Total_expenditure","Diphtheria"," HIV/AIDS","GDP","Population","thinness1_19years","thinness5_9years","Income_composition_of_resources","Schooling","Life_expectancy"]

In [33]:
data=pd.read_csv("C:/Users/admin/Downloads/Life Expectancy Data.csv",header=0,names=list)

In [34]:
data.isnull().sum()

Country                              0
Year                                 0
Status                               0
Adult_Mortality                     10
infant_deaths                        0
Alcohol                            194
percentage_expenditure               0
HepatitisB                         553
Measles                              0
BMI                                 34
under_five_deaths                    0
Polio                               19
Total_expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
thinness1_19years                   34
thinness5_9years                    34
Income_composition_of_resources    167
Schooling                          163
Life_expectancy                     10
dtype: int64

In [35]:
data.head()

,Country,Year,Status,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,HepatitisB,Measles,BMI,...,Total_expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1_19years,thinness5_9years,Income_composition_of_resources,Schooling,Life_expectancy
0,Afghanistan,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Afghanistan,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,Afghanistan,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,Afghanistan,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,Afghanistan,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

In [36]:
data.shape

(2938, 22)

In [37]:
data.Adult_Mortality .interpolate(method='pad',inplace=True)

In [38]:
data.Alcohol.interpolate(method='pad',inplace=True)

In [39]:
data.HepatitisB.interpolate(method='pad',inplace=True)

In [40]:
data.BMI.interpolate(method='pad',inplace=True)

In [41]:
data.Polio.interpolate(method='pad',inplace=True)

In [42]:
data.Total_expenditure.interpolate(method='pad',inplace=True)

In [43]:
data.Diphtheria.interpolate(method='pad',inplace=True)

In [44]:
data.GDP.interpolate(method='pad',inplace=True)

In [45]:
data.Population.interpolate(method='pad',inplace=True)

In [46]:
data.thinness1_19years.interpolate(method='pad',inplace=True)

In [47]:
data.thinness5_9years.interpolate(method='pad',inplace=True)

In [48]:
data.Income_composition_of_resources .interpolate(method='pad',inplace=True)

In [49]:
data.Schooling.interpolate(method='pad',inplace=True)

In [50]:
data.Life_expectancy.interpolate(method='pad',inplace=True)

In [51]:
data.isnull().sum()

Country                            0
Year                               0
Status                             0
Adult_Mortality                    0
infant_deaths                      0
Alcohol                            0
percentage_expenditure             0
HepatitisB                         0
Measles                            0
BMI                                0
under_five_deaths                  0
Polio                              0
Total_expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
thinness1_19years                  0
thinness5_9years                   0
Income_composition_of_resources    0
Schooling                          0
Life_expectancy                    0
dtype: int64

VISUALIZATION

In [52]:
data.to_csv("D:\lifeexpprocessed.csv",index=False)

In [53]:
le = preprocessing.LabelEncoder()

In [54]:
data.Country=le.fit_transform(data.Country)

In [55]:
data.Status=le.fit_transform(data.Status)

In [56]:
scaler = StandardScaler()

In [57]:
scaleddata=scaler.fit_transform(data)

In [58]:
scaleddata=pd.DataFrame(scaleddata)

In [59]:
scaleddata.columns=data.columns

In [60]:
scaleddata.head()

,Country,Year,Status,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,HepatitisB,Measles,BMI,...,Total_expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1_19years,thinness5_9years,Income_composition_of_resources,Schooling,Life_expectancy
0,-1.691042,1.621762,0.459399,0.789176,0.268824,-1.136785,-0.335570,-0.370362,-0.110384,-0.937958,...,0.907653,-0.714057,-0.323445,-0.502060,0.365388,2.696551,2.633648,-0.722755,-0.549662,-0.440024
1,-1.691042,1.404986,0.459399,0.853479,0.285786,-1.136785,-0.334441,-0.474359,-0.168124,-0.962745,...,0.915704,-0.839512,-0.323445,-0.499988,-0.228123,2.762622,2.676480,-0.736981,-0.579606,-0.974894
2,-1.691042,1.188210,0.459399,0.829365,0.302749,-1.136785,-0.334594,-0.405028,-0.173531,-0.987532,...,0.895577,-0.755876,-0.323445,-0.498600,0.329773,2.806668,2.719313,-0.765432,-0.609549,-0.974894
3,-1.691042,0.971434,0.459399,0.861516,0.328193,-1.136785,-0.332096,-0.301031,0.032045,-1.012320,...,1.052569,-0.630421,-0.323445,-0.495816,-0.168266,2.850715,2.783562,-0.798626,-0.639492,-1.016844
4,-1.691042,0.754658,0.459399,0.885630,0.345155,-1.136785,-0.367862,-0.266365,0.051757,-1.032149,...,0.790915,-0.588602,-0.323445,-0.539996,-0.181028,2.916785,2.826394,-0.841303,-0.729323,-1.048307

In [61]:
Y=scaleddata.Life_expectancy

In [62]:
X=scaleddata.drop('Life_expectancy',axis=1)

In [63]:
X.head()

,Country,Year,Status,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,HepatitisB,Measles,BMI,...,Polio,Total_expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1_19years,thinness5_9years,Income_composition_of_resources,Schooling
0,-1.691042,1.621762,0.459399,0.789176,0.268824,-1.136785,-0.335570,-0.370362,-0.110384,-0.937958,...,-3.228909,0.907653,-0.714057,-0.323445,-0.502060,0.365388,2.696551,2.633648,-0.722755,-0.549662
1,-1.691042,1.404986,0.459399,0.853479,0.285786,-1.136785,-0.334441,-0.474359,-0.168124,-0.962745,...,-1.028564,0.915704,-0.839512,-0.323445,-0.499988,-0.228123,2.762622,2.676480,-0.736981,-0.579606
2,-1.691042,1.188210,0.459399,0.829365,0.302749,-1.136785,-0.334594,-0.405028,-0.173531,-0.987532,...,-0.859306,0.895577,-0.755876,-0.323445,-0.498600,0.329773,2.806668,2.719313,-0.765432,-0.609549
3,-1.691042,0.971434,0.459399,0.861516,0.328193,-1.136785,-0.332096,-0.301031,0.032045,-1.012320,...,-0.647735,1.052569,-0.630421,-0.323445,-0.495816,-0.168266,2.850715,2.783562,-0.798626,-0.639492
4,-1.691042,0.754658,0.459399,0.885630,0.345155,-1.136785,-0.367862,-0.266365,0.051757,-1.032149,...,-0.605420,0.790915,-0.588602,-0.323445,-0.539996,-0.181028,2.916785,2.826394,-0.841303,-0.729323

In [64]:
x_train,x_test,y_train,y_test= train_test_split(X,Y,train_size = 0.8, test_size = 0.2,random_state =50)

LinearRegression

In [65]:
model=LinearRegression().fit(x_train,y_train)

In [66]:
model.score(x_train,y_train)

0.8212669362204322

In [67]:
modeltest=model.fit(x_test,y_test)

In [68]:
modeltest.score(x_test,y_test)

0.827594456558727

In [69]:
modellr=model.fit(X,Y)

In [70]:
modellr.score(X,Y)

0.820925399159611

DecisionTreeRegressor

In [71]:
dec = DecisionTreeRegressor(max_depth=50)
dec.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=50)

In [72]:
dec.score(x_train,y_train)

1.0

In [73]:
ytest=dec.predict(x_test)

In [74]:
ytest=pd.DataFrame(ytest)

In [75]:
mse(y_test,ytest)

0.09511928150754875

In [76]:
dectest=dec.fit(x_test, y_test)

In [77]:
dectest.score(x_test,y_test)

1.0

In [78]:
decfinal=dec.fit(X,Y)

In [79]:
decfinal.score(X,Y)

1.0

AdaBoostRegressor

In [80]:
ada=AdaBoostRegressor(random_state=50, n_estimators=100)

In [81]:
ada.fit(x_train,y_train)

AdaBoostRegressor(n_estimators=100, random_state=50)

In [82]:
yprd=ada.predict(x_test)

In [83]:
yprd=pd.DataFrame(yprd)

In [84]:
mse(y_test,yprd)

0.12996553647061973

In [85]:
ada.fit(x_test,y_test)

AdaBoostRegressor(n_estimators=100, random_state=50)

In [86]:
ada.score(x_test,y_test)

0.9246672393006521

In [87]:
ada.fit(X,Y)

AdaBoostRegressor(n_estimators=100, random_state=50)

In [88]:
ada.score(X,Y)

0.8988385371544554

GradientBoostingRegressor

In [89]:
gbt = GradientBoostingRegressor(learning_rate=0.1, n_estimators=100)
gbt = gbt.fit(x_train, y_train)

In [90]:
gbt.score(x_train,y_train)

0.9621400714834826

In [91]:
ypred=gbt.predict(x_test)

In [92]:
ypred=pd.DataFrame(ypred)

In [93]:
mse(y_test,ypred)

0.06744902994006573

In [94]:
gbttest = gbt.fit(x_test, y_test)

In [95]:
gbt.score(x_test,y_test)

0.9795978057953185

In [96]:
gbtfinal = gbt.fit(X,Y)

In [97]:
gbtfinal.score(X,Y)

0.9609840975231142

GradientBoostingRegressor gives the best model result

In [98]:
data_y1=pd.concat([y_train,ypred],ignore_index=True)
data_x1=pd.concat([x_train,x_test],ignore_index=True)

In [99]:
MODEL=gbt.fit(data_x1,data_y1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [100]:
DataDT=pd.concat([data_x1,data_y1],axis=1)

In [105]:
DataDT.head()

,Country,Year,Status,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,HepatitisB,Measles,BMI,...,Total_expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1_19years,thinness5_9years,Income_composition_of_resources,Schooling,Life_expectancy
0,96.0,2015.0,1.0,138.0,1.000000e+00,4.46,0.000000,97.0,82.0,64.8,...,5.91,97.0,0.1,183.414999,2884522.0,5.8,5.5,0.719,13.4,72.7
1,55.0,2009.0,1.0,311.0,6.000000e+00,0.63,1.575160,92.0,82.0,15.5,...,3.30,92.0,1.0,43.754450,431334.0,9.0,8.9,0.402,5.2,61.4
2,120.0,2012.0,0.0,7.0,3.552714e-15,9.20,924.565368,93.0,68.0,65.9,...,11.53,93.0,0.1,3997.256240,15925513.0,0.3,0.3,0.904,19.5,81.1
3,185.0,2003.0,1.0,121.0,1.000000e+00,5.11,160.840014,91.0,0.0,57.0,...,6.52,91.0,0.1,3622.522840,3325637.0,1.7,1.6,0.747,15.0,75.4
4,41.0,2009.0,1.0,11.0,1.000000e+00,4.01,818.877102,96.0,0.0,56.9,...,11.78,96.0,0.1,5484.776300,4426.0,3.4,3.2,0.782,17.7,78.1

In [102]:
DataDT=scaler.inverse_transform(DataDT)

In [103]:
DataDT=pd.DataFrame(DataDT)

In [104]:
DataDT.columns=data.columns